.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}


.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* 这样就能不覆盖其他层了 */
  z-index: -1;
}